qlib_init:
  provider_uri: "/data/linq/.qlib/qlib_data/cn_data"
  region: cn


model_config: &model_config
  seq_len: 20
  pred_len: 1
  e_layers: 2
  enc_in: 360
  dec_in: 360
  c_out: 1
  d_model: 128
  d_ff: 64
  n_heads: 4
  activation: 'gelu'
  kernel_list: [3, 7, 9]
  period: [2, 4]
  patch_len: [4, 5, 10]
  stride: [2, 3, 4]
  dropout: 0.1
  fc_dropout: 0.1
  head_dropout: 0.1
  affine: True
  add: False
  wo_conv: False
  serial_conv: False
  subtract_last: 0

task:
  model:
    class: QniverseModel
    module_path: src/model_backbone.py
    kwargs:
      lr: 0.0001
      n_epochs: 1
      max_steps_per_epoch: 5000
      early_stop: 1
      seed: 2024
      logdir: output/pdf
      model_type: PDF
      model_config: *model_config
      lamb: 1.0
      rho: 0.99
      freeze_model: False
      model_init_state:
  dataset:
    class: MTSDatasetH
    kwargs:
      seq_len: 20
      horizon: 1
      batch_size: 32
  qlib_dataset:
    class: BENCH_Step
    kwargs:
      market: csi300_ext
      benchmark: SH000300 
      feat: Alpha360
      label: r1
